.search-button{
  background: #00e1ff;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.search-input{
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;

}
.h-text{
  color: #00e1ff;
}