* {
  margin: 0;
  padding: 0;
}

.bg-night {
  background: #28003f;
}

.bg-day {
  background: white;
}

.current-page {
  color: rgb(0, 218, 218);
}

.input {
  border: 1px solid rgb(114, 114, 114);
  border-radius: 6px;
  margin-bottom: 10px;
}