
.footer{
  height: 40px;
  // border: 1px solid red;
}
.copyright{
  font-weight: lighter;
  color: #b8b8b8;
}
.social-icon{
  color: #00e1ff;
  border-top: .5px solid #00e1ff ;
  margin-top: 5px;
  padding-top: 5px;
}
.links ul li{
  color: #aaaaaa;
}
.link:hover{
 color: #00e1ff;
}
.divider{
  width: 60%;
  border-top: .3px solid #00e1ff ;
  margin-bottom: 3px;
}